.top_container {
    width: 100vw;
    padding: .5rem;
    background-color: var(--BG_SecondColor);
    color: #FFF;
}

.menu_top {
    width: 60vw;
    margin-inline: 20vw;
    display: flex;
    position: relative;

    li {
        font-size: 13px;
        font-weight: 500;
        margin-left: 15px;
        cursor: pointer;
    }

    & :nth-child(3) {
        position: absolute;
        right: 0;
    }
}