.home {
    margin-bottom: 10vh;

    .promotion_Container {
        width: 60vw;
        height: fit-content;
        margin: 3vw 20vw 0 20vw;
        position: relative;

        img {
            object-fit: cover;
        }

    }
}