.loginContainer {
    width: 100vw;
    height: 62vh;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 10vh;

    .login {
        width: 20%;
        height: auto;
        padding: 1rem;
        border: 1px solid var(--ComplementaryColor);
        box-shadow: 0 5px 10px var(--ComplementaryColor);
        border-radius: 5px;

        h2 {
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 700;
            color: var(--BG_SecondColor);
            margin: 5%;
        }

        form {
            text-align: left;

            label {
                font-size: 1.3rem;
            }

            input {
                width: 80%;
                height: 40px;
                font-size: 1rem;
                margin: 0 10% 2% 10%;

            }

            .session {
                color: white;
                background-color: var(--BG_SecondColor);
            }
        }

        button {
            text-align: center;
            width: 80%;
            padding: 1rem;
            margin: 2% 10% 5% 10%;
            font-size: 1.2rem;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}